.light {
  width: 100%;
  color: #181818;
  background-color: rgb(250, 250, 250);
  min-height: 100vh;
}
.dark {
  width: 100%;
  background-color: #111;
  color: rgb(195, 195, 195);
  min-height: 100vh;
}
input {
  background: transparent;
}
